// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// fontawesome
@import '../adminLTE/plugins/fontawesome-free/css/all.css';

// AdminLTE
@import '../adminLTE/dist/css/adminlte.min.css';